:root {
    --blue: #2292a4;
    --white: #f5efed;
    --green: #bdbf09;
    --green-hover: #0c841c;
    --orange: #d96c06;
    --orange-hover: #824104;
    --black: #15020e;
    --hover: #a14151;
    --hover-active: #5e2630;
}

.mininav{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

.mininav-h4{
    background-color: var(--black);
    padding: 15px;
    border-radius: 25px;
    border: solid var(--white) 3px;
}

.mininav-h4:hover{
    background-color:  var(--green);
    color: var(--black);
    
}

