body {
    margin: auto 0;
    background: rgb(170, 191, 132);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    background: rgb(78, 0, 75);
    color: white;
    font-size: 70px;
    text-align: center;
    display: table;
    margin: 20px auto 20px auto;
    padding: 10px 20px;
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 15px;

}

.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.mobile-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.chord-button {
    border-radius: 10%;
    background: blue;
    color: white;
    margin: 2px;
    padding: 10px;
    cursor: pointer;
    width: 70px;
    text-align: center;
    border: none;
    border: rgb(255, 255, 255) solid 1px;
}

.chord-button:hover {
    background-color: rgb(161, 65, 81);
}

.chord-button:active {
    background-color: red;
}

h2 {
    border-radius: 10%;
    background: blue;
    color: white;
    margin: 2px;
    padding: 10px;
    cursor: pointer;
    width: 70px;
    text-align: center;

}

h2:hover {
    background-color: rgb(0, 0, 118);
}

h2:active {
    background-color: orangered;
}

.scaleInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}

.minormajor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.scaleChoice {
    border: rgb(255, 255, 255) solid 3px;
    background: rgb(78, 0, 75);
    color: white;
}

.scaleChoice:hover {
    background: rgb(255, 81, 0);
}

.scaleChoice:active {
    background-color: pink;
}

h3 {
    border-radius: 10%;
    background: blue;
    color: white;
    margin: 2px;
    padding: 10px;
    cursor: pointer;
    width: 70px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.noteValue {
    color: blue;
}

.chordValue {
    color: rgb(123, 1, 72);
}

.circleParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleimg {
    width: 55%;
    height: auto;
}

.select-scale {
    text-align: center;
    background:rgb(0, 0, 0);
    display: table;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
    color: rgb(170, 191, 132);
    border: solid;
}