:root {
    --blue: #2292a4;
    --white: #f5efed;
    --green: #bdbf09;
    --green-hover: #8b8d07;
    --green-light-hover: #9b9e07;
    --orange: #d96c06;
    --orange-light: #f4a963;
    --orange-dark: #904804;
    --orange-hover: #824104;
    --black: #15020e;
    --hover: #a14151;
    --hover-active: #5e2630;
}


body {
    margin: auto 0;
    background: var(--blue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    background: var(--orange);
    color: var(--white);
    font-size: 40px;
    text-align: center;
    display: table;
    margin: 10px auto 0px auto;
    padding: 0px 20px;
    border: var(--white) solid 3px;
    border-radius: 15px;
}

.title-desktop {
    margin-top: -40px;
    font-size: 20px;
    color: var(--black);
}

.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    padding-bottom: 10px;
}

.mobile-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.chord-button {
    border: var(--white) solid 3px;
    background-color: var(--orange);
    font-size: 13px;
    text-decoration: none;
    color: var(--white);
    position: relative;
    padding: 10px 0px;
    margin: 0px 8px 15px 8px;
    width: 75px;
    border: black solid;
    border-radius: 10px;
    background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    box-shadow: inset 0px 1px 0px var(--orange-dark), 0px 5px 0px 0px var(--green), 0px 10px 5px var(--black);
    font-family: monospace;
    font-weight: 900;
}

.chord-button:hover {
    background-color: var(--orange-light);
    color: var(--black);
}

.chord-button:active {
    color: var(--black);
}

/* h2 {
    border-radius: 10%;
    background: var(--green);
    color: var(--black);
    margin: 2px;
    padding: 10px;
    cursor: pointer;
    width: 70px;
    text-align: center;
} */

.key-buttons {
    background-color: var(--green);
    font-size: 15px;
    text-decoration: none;
    color: var(--black);
    position: relative;
    padding: 10px 0px;
    margin: 0px 8px 10px 8px;
    width: 75px;
    border: black solid;
    border-radius: 10px;
    background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    box-shadow: inset 0px 1px 0px var(--green-hover), 0px 5px 0px 0px var(--orange), 0px 10px 5px var(--black);
    font-family: monospace;
    font-weight: 900;
    cursor: pointer;
}

.key-buttons:hover {
    background-color: var(--white);
    color: black;



}

.key-buttons:active {
    top: 3px;
    background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    box-shadow: inset 0px 1px 0px var(--green-hover), 0px 2px 0px 0px var(--orange), 0px 5px 3px var(--black);
}

/* h2:active {
    top: 400px;
    background-color: var(--hover);
} */

.scaleInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;

}

.minormajor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.scaleChoice {
    border: var(--white) solid 3px;
    background-color: var(--orange);
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
    position: relative;
    padding: 10px 0px;
    margin: 0px 8px 10px 8px;
    width: 75px;
    border: var(--black) solid;
    border-radius: 10px;
    background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    box-shadow: inset 0px 1px 0px var(--orange-dark), 0px 5px 0px 0px var(--green), 0px 10px 5px var(--black);
    font-family: monospace;
    font-weight: 900;
}

.scaleChoice:hover {
    background: var(--orange-light);
    color: var(--black);
}


.scaleChoice:active {
    top: 3px;
    background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    box-shadow: inset 0px 1px 0px var(--green-hover), 0px 2px 0px 0px var(--orange), 0px 5px 3px var(--black);
}

h3 {
    border-radius: 10%;
    background: blue;
    color: white;
    margin: 2px;
    padding: 10px;
    cursor: pointer;
    width: 70px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.noteValue {
    color: var(--white);
}

.chordValue {
    color: var(--black);
    background: var(--orange);
    padding: 3px;
    border-radius: 20%;
}

.circleParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleimg {
    width: 55%;
    height: auto;
}

.select-scale {
    text-align: center;
    background: var(--black);
    display: table;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 25px;
    color: var(--white);
    border: solid;
    box-shadow: 3px 3px var(--orange), -0.5em 0 .4em var(--green);
}

.which-notes {
    text-align: center;
    display: table;
    margin: 20px auto 20px auto;
    font-size: 20px;
    padding: 13px;
    border-radius: 520px;
    color: var(--black);
    background: var(--green);
    border: var(--black) 4px solid;
    box-shadow: 3px 3px var(--orange), -0.5em 0 .4em var(--black);
}

.which-chord {
    text-align: center;
    display: table;
    margin: 20px auto 20px auto;
    font-size: 20px;
    background: var(--orange);
    padding: 13px;
    border-radius: 20px;
    color: var(--white);
    border: var(--black) 4px solid;
    box-shadow: 3px 3px var(--green), -0.5em 0 .4em var(--black);
}